$base_OC:   #2b303b;
$base_OB:   #343d46;
$base_OA:   #4f5b66;
$base_OO:   #65737e;
$base_O1:   #a7adba;
$base_A1:   #c0c5ce;
$base_B2:   #dfe1e8;
$base_C3:   #eff1f5;
$yellow:   #bf616a;
$orange:   #d08770;
$red:   #ebcb8b;
$magenta:   #a3be8c;
$violet:   #96b5b4;
$blue:   #8fa1b3;
$cyan:   #b48ead;
$green:   #ab7967;
