#define S_base_OC   #2b303b
#define S_base_OB   #343d46
#define S_base_OA   #4f5b66
#define S_base_OO   #65737e
#define S_base_O1   #a7adba
#define S_base_A1   #c0c5ce
#define S_base_B2   #dfe1e8
#define S_base_C3   #eff1f5
#define S_yellow   #bf616a
#define S_orange   #d08770
#define S_red   #ebcb8b
#define S_magenta   #a3be8c
#define S_violet   #96b5b4
#define S_blue   #8fa1b3
#define S_cyan   #b48ead
#define S_green   #ab7967

URxvt.intensityStyles: false
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: S_yellow
URxvt*font: xft:Input Mono:size=9:antialias=true:style=regular 
Urxvt*letterSpacing: -1
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*secondaryScroll: true # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: chromium
URxvt.matcher.button: 1
Urxvt.inputMethod:fcitx


*background:			S_base_OC
*foreground:			S_base_O1
*cursorColor:			S_base_A1
*pointerColorBackground:	S_base_OA
*pointerColorForeground:	S_base_A1

!! black dark/light
*color0:			S_base_OB
*color8:			S_base_OC

!! red dark/light
*color1:			S_red
*color9:			S_orange

!! green dark/light
*color2:			S_green
*color10:			S_base_OA

!! yellow dard/light
*color3:			S_yellow
*color11:			S_base_OO

!! blue dark/light
*color4:			S_blue
*color12:			S_base_O1

!! magenta dark/light
*color5:			S_magenta
*color13:			S_violet

!! cyan dark/light
*color6:			S_cyan
*color14:			S_base_A1

!! white dark/light
*color7:			S_base_B2
*color15:			S_base_C3

